In [6]:
import os
import matplotlib
import pandas as pd

In [4]:
dataset_path ='../../Hackathon/Selfie-dataset/selfie_dataset.txt'

In [7]:
dataframe = pd.read_csv(dataset_path, header=None)
dataframe.head()

  00a454da495e11e28a7322000a1fa414_6 3.901 1 1 -1 -1 -1 1 -1 -1 1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
0  00cddb96ac4c11e3a30212279ba1b65f_6 4.385 1 1 -...
1  01cdd7aa1a1a11e2aaa822000a1fb0dd_6 4.243 -1 1 ...
2  024696bead0c11e389d50ec42b3b1b1c_6 4.169 -1 -1...
3  026df048221a11e2b52122000a1fa4b5_6 3.873 -1 1 ...
4  02b511eed26911e2851d22000a1fb71f_6 4.458 1 1 -...