In [6]:
import os
import matplotlib
import pandas as pd

In [4]:
dataset_path ='../../Hackathon/Selfie-dataset/selfie_dataset.txt'

In [12]:
header_names = ["image_name",
"popularity_score",
"partial_faces",
"is_female",
"baby",
"child",
"teenager",
"youth",
"middle_age",
"senior",
"white",
"black",
"asian",
"oval_face",
"round_face",
"heart_face",
"smiling",
"mouth_open",
"frowning",
"wearing_glasses",
"wearing_sunglasses",
"wearing_lipstick",
"tongue_out",
"duck_face",
"black_hair",
"blond_hair",
"brown_hair",
"red_hair",
"curly_hair",
"straight_hair",
"braid_hair",
"showing_cellphone",
"using_earphone",
"using_mirror",
"braces",
"wearing_hat",
"harsh_lighting",
"dim_lighting",]

In [13]:
dataframe = pd.read_csv(dataset_path, header=None, delimiter=' ', names=header_names)
dataframe.head()

,image_name,popularity_score,partial_faces,is_female,baby,child,teenager,youth,middle_age,senior,...,curly_hair,straight_hair,braid_hair,showing_cellphone,using_earphone,using_mirror,braces,wearing_hat,harsh_lighting,dim_lighting
0,00a454da495e11e28a7322000a1fa414_6,3.901,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,00cddb96ac4c11e3a30212279ba1b65f_6,4.385,1,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,01cdd7aa1a1a11e2aaa822000a1fb0dd_6,4.243,-1,1,-1,-1,1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,024696bead0c11e389d50ec42b3b1b1c_6,4.169,-1,-1,-1,-1,1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,026df048221a11e2b52122000a1fa4b5_6,3.873,-1,1,-1,-1,-1,-1,1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1